html,
body {
   /*    background-image: url("https://github.com/Vishuvishu/Storage_repo/blob/main/Images/2%20(1).png?raw=true"); */
   /*   background-image: url(" https://github.com/Vishuvishu/Storage_repo/blob/main/Images/2%20(2).png?raw=true"); */
   background-color: #FEF6DD;
   scroll-behavior: smooth;
   height: 100%;
   /* transform: scale(0.9);  /* Scale the entire page to 90% */
   /* transform-origin: top left;
   width: 111.11%; /* Compensate for the scaling effect */
   /* overflow-x: hidden;  */
   width: 100%;
}


.active {
   color: blue;
   background-color: blue;
}

.homepage {
   height: calc(100vh-70px);
}

::-webkit-scrollbar {
   width: 0px;
   scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
   background: #F0F4F9
}

::-webkit-scrollbar-thumb {
   background: black
}